html, body {
  color:black;
  margin: 0;
  width:100%;
  height:100%;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}
#map { 
    position:relative; 
    display:block;
    width: 100%;
    height: 85%;
    margin: auto;
}

#point-toggle-container{
	position: absolute;
	width:180px;
	height:15%;
    padding:10px;
}
#emoji-toggle-container{
    position: absolute;
    width:250px;
    left:180px;
    height:15%;
    padding:10px;
    padding-top: 40px;
}

#nav-container{
    position: absolute;
    left:450px;
    width:350px;
    margin:auto;
    height:15%;
    padding:10px;
}

#barchart-container{
    position: absolute;
    width:400px;
    height:15%;
    right: 30px;
    padding:10px;
}

.toggle-container ul{
    position:relative;
    padding: 5px;
    list-style: none;
    height:20px;
    margin-top:5px;
}

.toggle-container ul li p{
    display: inline;
    position:relative;
    left:25px;
    text-align: left;
    font-size: 14px;
    list-style: none;
    margin:0;
}

.left-button{
    display: block;
    position:absolute;
    width:20px;
    font-size:18px;
    left:10px;
    color:rgb(100,100,100);
    cursor:pointer
}


#emoji-toggle-container li p{
    font-size: 14px;
}

#gradient-legend li p{
    font-size: 9px;
}

#gradient-legend-span{
    display:inline-block;
    position:relative;
    width:80px;
    height: 10px;
    top:2px;
    left:25px;
    background: -webkit-linear-gradient(left, #4575b4, #91bfdb, #e0f3f8, #ffffbf, #fee090, #fc8d59, #d73027);
    background: linear-gradient(to right, #4575b4, #91bfdb, #e0f3f8, #ffffbf, #fee090, #fc8d59, #d73027);
}

#lihtc-toggle{
    color: rgba(237, 23, 176, 1);
}

#tweet-toggle{
    color: rgba(23, 179, 237, 1);
}
#emoji-toggle, #heatmap-toggle{
    color: rgba(244, 182, 66, 1);
}

#lihtc-toggle.deactivated, #tweet-toggle.deactivated, #emoji-toggle.deactivated, #heatmap-toggle.deactivated{
    color:rgb(100,100,100);
}

.nav-button {
    position:relative;
    width:20px;
    font-size:18px;
    color:rgb(100,100,100);
    cursor:pointer
}

.nav-dots{
    width: 12px;
    height: 12px;
    cursor:pointer;
}

#nav-title{
    margin-top: 10px;
    font-size: 18px;
    line-height: 22px;
}

.nav-dots-circle{
    cx: 6;
    cy: 6;
    r: 5;
    stroke: rgb(150, 150, 150);
    stroke-width: 1;
    fill: none;
}


.filled{
    fill: rgb(150,150,150);
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

img.emoji {  
  display: inline !important;
  height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

.bar {
  fill: rgba(0,0,0,0.3);
}

.bar:hover {
  fill: rgba(237, 23, 176, 0.6);
}

.axis--x path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.toolTip {
  position: absolute;
  display: none;
  font-weight: bold;
  font-size: 10px;
  min-width: 40px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  padding: 5px;
}

#barchart-title{
    font-size: 14px;
    position: absolute;
    margin:0;
}

.description{
    position:absolute;
    background-color: #fff;
    right: 10px;
    top: 10px;
    width: 300px;
    padding: 10px;
    z-index: 1;
}

.description-wrapper {
    position: relative;
    width: 280px;
    height: 100%;
    display:table;
    overflow:hidden;
}

.description-wrapper li{
    list-style: none;
}

#site-streetview{
    width:100%;
}

.close-button{
    display: block;
    position:absolute;
    width:20px;
    font-size:18px;
    top: 0;
    right: 0;
    color:rgb(100,100,100);
    cursor:pointer
}